<form name="$ctrl.form" novalidate class="contact-form">

  <div class="col-md-12">
    <div class="form-group">
      <label for="name" class="sr-only" translate="NAME"></label>
      <input translate-attr="{ placeholder: 'NAME' }" id="name" name="name" type="text" class="form-control input-lg" ng-model="$ctrl.contact.name" ng-required="true" >
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="name" class="sr-only" translate="EMAIL"></label>
      <input translate-attr="{ placeholder: 'EMAIL' }" id="email" name="email" type="text" class="form-control input-lg" ng-model="$ctrl.contact.email" ng-required="true">
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="name" class="sr-only" translate="PHONE"></label>
      <input translate-attr="{ placeholder: 'PHONE' }" id="phone" name="phone" type="text" class="form-control input-lg" ng-model="$ctrl.contact.phone">
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="message" class="sr-only" translate="MESSAGE"></label>
      <textarea translate-attr="{ placeholder: 'MESSAGE' }" id="message" name="message" class="form-control input-lg" rows="3" ng-model="$ctrl.contact.message" ng-required="true"></textarea>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <input type="button" class="btn btn-primary btn-lg " translate-attr="{ value: 'SEND' }" ng-disabled="$ctrl.form.$invalid" ng-click="$ctrl.send()">
      <input class="btn btn-outline btn-lg " translate-attr="{ value: 'RESET' }" type="reset">
    </div>
  </div>

</form>
