<div class="fh5co-feature-1">
  <div class="fh5co-feature-blurb">
    <ul>
      <li ng-repeat="contactGroup in $ctrl.list">
        <span class="fh5co-feature-blurb-icon {{contactGroup.css_class}}-box">
          <i class="{{contactGroup.css_class}}"></i>
        </span>

        <div class="fh5co-feature-blurb-text">
          <h2 class="fh5co-feature-blurb-title h4 text-uppercase">
            {{contactGroup.name}}
          </h2>
          <p class="fh5co-feature-blurb-description" ng-repeat="contact in contactGroup.contacts">
            {{contact.name}}
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>