.owl-carousel {
  .text-overlay {
    position: absolute;
    top: 45%;
    right:0;
    left:0;
    z-index: 1;
    text-align: center;
    
    h1 {
      font-size: 46px;
      text-transform: uppercase;
      text-shadow: 2px 1px 4px #D7D9D8;
    }
    
    a {
      font-family: "Montserrat",Helvetica,Arial,Verdana,sans-serif;
      font-size: 14px;
      font-weight: 400;
      display: block;
      width: 300px;
      max-width: 220px;
      margin: 30px auto 35px;
      padding: 5px 20px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      text-transform: uppercase;
      color: #173118;
      border: 1.4px solid #173118;
      border-radius: 4px;
      background: rgba(0,0,0,0.2);
    }
    
    a:hover {
      color: #457B4D;
      border-color: #457B4D;
      background: rgba(0,0,0,0.1);
    }
    
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 30px;
      }
      a {
        font-size: 11px;
      }
    }
  }
}