.owl-carousel {
  .text-overlay {
    position: absolute;
    top: 45%;
    right:0;
    left:0;
    z-index: 1;
    text-align: center;
    
    @media screen and (max-width: 992px) {
      top: 30%;
    }
    
    @media screen and (max-width: 768px) {
      top: 20%;
    }
    
    @media screen and (max-width: 480px) {
      top: 10%;
    }

    h1 {
      font-size: 46px;
      text-transform: uppercase;
      // text-shadow: 2px 1px 4px #D7D9D8;
      // color: #513916;
      color: #ffffff;
      text-shadow: 1px 1px 2px #000000, 0 0 25px #D7D9D8, 0 0 5px #D7D9D8;
      letter-spacing: 7px;
    }
    
    a {
      font-family: "Montserrat",Helvetica,Arial,Verdana,sans-serif;
      font-size: 14px;
      font-weight: 400;
      display: block;
      width: 300px;
      max-width: 220px;
      margin: 30px auto 35px;
      padding: 5px 20px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      text-transform: uppercase;
      color: #E7EAEC;
      border: 1.4px solid #E7EAEC;
      border-radius: 4px;
      background: rgba(0,0,0,0.2);
    }
    
    a:hover {
      color: #fff;
      border-color: #fff;
      background: rgba(0,0,0,0.1);
    }
    
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 30px;
      }
      a {
        font-size: 11px;
      }
    }
  }
}